<div class="container mt-5 px-5 py-3 border border-dark-50 rounded bg-light" style="width: 800px;">
  <h4 class="text-center">Edit Event</h4>

  <div class="mt-3">
    <%= render "form", event: @event, users: @users, form_type: :edit %>
  </div>
</div>