<div id="events" class="container p-3 mt-3" style="width: 800px">
  <% if notice.present? %>
    <div class="alert alert-info mx-auto text-center">
      <%= notice %>
    </div>
  <% end %>

  <div class="position-relative">
    <div class="z-1 position-absolute end-0">
      <select class="form-select" id="statusSelector">
        <option value="">Default</option>
        <option value="All">All</option>
        <option value="Ongoing">Ongoing</option>
        <option value="Ended">Ended</option>
      </select>
    </div>
    <h3 class="text-center mb-4">
      <span id="statusIdentifier"></span> Events
    </h3>
  </div>
  <% @events.each do |event| %>
    <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <%= render partial: "event", locals: { event: event, viewEventDetails: false } %>
          <div class="float-end">
            <%= link_to "View this event", event, class: "text-dark" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var statusSelector = $('#statusSelector');
  var statusIdentifier = $('#statusIdentifier');

  statusSelector.on('change', function() {
    statusIdentifier.text(statusSelector.val())
  })
</script>