<div id="events" class="container p-3 mt-3" style="width: 800px">
  <% if notice.present? %>
    <div class="alert alert-info mx-auto text-center">
      <%= notice %>
    </div>
  <% end %>

  <div class="position-relative">
    <div class="position-absolute end-0 z-index:3">
      <%= link_to "Export Events", "/events/export_all.csv", class: "btn btn-sm" %>
    </div>
    <h3 class="text-center mb-4">
      Events
    </h3>
  </div>
  <% @events.each do |event| %>
    <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <%= render partial: "event", locals: { event: event, viewEventDetails: false } %>
          <div class="float-end">
            <%= link_to "View this event", event, class: "text-dark" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>