<div class="container mt-5 px-5 py-3 border border-dark-50 rounded bg-light" style="width: 800px">
  <h4 class="text-center"> Create New User </h4>
  <%= render "form", user: @user, form_type: :new %>
</div>